@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v21-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v50-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v50-latin-800.woff2") format("woff2");
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A;
  --color-secondary-light: #747272;
  --color-secondary-black: #000000;
  --color-unico-black: #000000;
}

/* base */
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-dark);
  background-image: url("../images/background-beaty-zone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Play", sans-serif;
}

h2 {
  line-height: 1.2;
}

a {
  display: inline-block;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* header */
header {
  background-color: transparent;
  position: relative;
}

.header-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 99px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 42px;
}

.header-menu {
  display: flex;
  gap: 54px;
  list-style: none;
  flex-grow: 1;
  justify-content: center;
}

.header-icon:last-child {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-nav-icon {
  display: flex;
  align-items: center;
}

/* link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-primary-blue);
}

/* Іконки соцмереж */
nav ul:last-child img {
  cursor: pointer;
  opacity: 0.8;
}

nav ul:last-child img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* hero section */
.hero {
  background-image: url(../images/background-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}

.container-hero {
  padding-left: 106px;
  padding-top: 60px;
  position: relative;
}

.text {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.hero-text {
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 0.81;
  max-width: 529px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 40px;
  font-family: "Play", sans-serif;
}

.call-hero {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
  line-height: 1.5;
}

.form-text {
  max-width: 240px;
  font-size: 12px;
  padding-top: 14px;
  line-height: 1.3;
  color: var(--color-secondary-light);
  padding-bottom: 126px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* button */
.container-button-main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}

/* <!-- about-section --> */
.about-call-container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: relative;
}

.about-call-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 570px;
  text-align: left;
  justify-content: center;
}

.about-images {
  position: relative;
  width: 420px;
  height: 550px;
  flex-shrink: 0;
}

.about-images img {
  position: absolute;

  object-fit: cover;
  border-radius: 50%;
}

.about-images img:first-child {
  top: 0;
  right: 0;
  z-index: 1;
}

.about-img-women {
  top: 220px;
  margin-left: 297px;
  margin-top: 140px;
  z-index: 1;
}

.img-star-big {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 351px;
  right: 420px;
  z-index: 3;
}

.img-star-medium {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 57px;
  right: -20px;
  z-index: 3;
}

.img-star-small {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 285px;
  right: 60px;
  z-index: 2;
}

.about-call-about {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  max-width: 570px;
  margin: 0 0 48px;
  text-align: left;
  line-height: 1.2;
}

.about-call.centered {
  text-align: center;
  display: block;
}

.about-text {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary-dark);
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.5;
}

.color-blue {
  font-size: 64px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  color: var(--color-primary-blue);
  line-height: 1.2;
}

.accent-about {
  color: var(--color-primary-dark);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

/* button form */
/* form action */
.map {
  height: 481px;
  border-radius: 32px;
  overflow: hidden;
}

.input-form {
  background-color: var(--color-primary-dark);
  max-width: 423px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  gap: 24px;
}

.contact-form {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.accent-about-blue {
  color: var(--color-primary-blue);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.form {
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
}

.button-form {

  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-form {
  text-align: center;
  font-size: 12px;
  color: var(--color-secondary-light);
  margin: 8px;
  font-family: "Roboto", sans-serif;
}

.privacy-link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-text-form {
  margin-top: 32px;
}

.button-form:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}

.accent {
  font-family: "Roboto", sans-serif;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 1.5;
}

.hero-servis {
  font-family: "Play", sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-call {
  color: var(--color-primary-dark);
  font-weight: 700;
  font-family: "Play", sans-serif;
  font-size: 28px;
}

.servis-content {
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
}

.hero-title .accent {
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* section-why-us-section */
.section-why-us-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-call {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin: 0 auto 48px;
  line-height: 1.2;
  text-align: center;
}

.call-card-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.call-card {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary-dark);
  padding: 24px;
  margin: 0;
  line-height: 1.3;
  text-align: center;
  font-size: 14px;
}

.about-call-blok {
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 316px;
  min-height: 181px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 20px;
}

.img-card {
  padding-top: 32px;
  width: 60px;
  height: 60px;
}

/* section-procedures */
.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-card {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
  width: 280px;
  height: 400px;
}

.procedures-card:hover {
  transform: scale(1.1);
}

.procedures-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
}

.procedures-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.carousel-button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
}

.about-arrow-next {
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.procedures-list.carousel {
  display: flex;
  gap: 20px;
  overflow: auto;
  flex: 1;
  scroll-behavior: smooth;
}

.about-text-procedures {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  padding: 0 20px;
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.format-item {
  flex-shrink: 0;
  width: 280px;
  height: 400px;
  position: relative;
}

/* /arrow */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.about-arrow {
  fill: var(--color-primary-blue);
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
}

.carousel-button:hover .about-arrow {
  fill: var(--color-primary-light);
}

.about-call {
  margin-top: 96px;
  text-align: center;
}

.procedures-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  max-width: 400px;
  display: block;
}

.button-main-contact .address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}



/* contact */
.contact-section {
  padding: 96px 0;
}

.contact-section .about-call {
  text-align: center;
  margin-bottom: 64px;
  width: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
}

.contact-map {
  flex-shrink: 0;
  width: 605px;
  height: 481px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.contact {
  flex-shrink: 0;
  width: 423px;
  height: 481px;
  padding: 40px 32px;
  border-radius: 32px;
  background-color: var(--color-primary-dark);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-contact-form {
  max-width: 245px;
  text-align: center;
  color: var(--color-primary-light);

}

.contact .form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-bottom: 16px;
}

.contact .form-field label {
  display: none;
}

.contact .form-field input {
  width: 100%;
  background-color: transparent;
  padding: 16px 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  font-size: 14px;
  box-sizing: border-box;
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}

.contact .form-field input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.contact .form-field input:focus {
  outline: none;
  border-color: var(--color-primary-blue);
  background-color: rgba(0, 123, 255, 0.08);
}

.contact .form {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  width: 100%;
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
  margin: 0 0 32px 0;
  text-align: center;
}

.button-main-contact {
  display: block;
  margin: 24px auto 24px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-main-contact:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}

.form-terms-form {
  margin: 0 8px;
  color: var(--color-secondary-light);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;

}

.contact .form .accent-about-blue {
  color: var(--color-primary-blue);
  font-weight: 700;
}

/* footer */
.footer {
  padding: 56px 0;
  position: relative;
  background-image: url(../images/background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before {
  content: "";
  background-image: url("../images/beaty-product.png");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 247px;
  height: 152px;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer-container {
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.link-footer {
  padding: 0 0 16px 0;
}

.footer-nav,
.footer-address {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.address-list,
.address-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease;
}

.link-footer:hover {
  color: var(--color-primary-blue);
}

.footer .address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease;
  display: inline-block;
}

.footer .address-link:hover {
  color: var(--color-primary-blue);
}

.footer .address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;

}

.address-social-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0;
  cursor: pointer;
}

.address-social {
  stroke: var(--color-primary-light);
  transition: stroke 0.3s ease;
}

.address-social-icon:hover .address-social {
  stroke: var(--color-primary-blue);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 99;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  max-height: 90vh;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;
  padding: 48px 32px;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;

  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.
/* form */

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.title-form {

  align-items: center;
  font-size: 64px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-primary-light);
  max-width: 435px;
  font-family: "Play", sans-serif;
  line-height: 1.2;
}

.form-header {
  text-align: center;
  margin-bottom: 32px;

}

.modal form {

  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}



.modal .form-field {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-label {
  display: block;
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 1.5;
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.form-input {
  display: block;
  padding: 18px 32px;
  width: 100%;
  max-width: 310px;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-light);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: var(--color-primary-blue);
  background-color: transparent;
  outline: none;
  color: var(--color-primary-light);
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  opacity: 0.7;
}

.form-input::-webkit-input-placeholder {
  color: var(--color-primary-light);
  opacity: 0.7;
}

.button-form {
  display: block;
  margin: 24px auto 24px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;

}



.form-terms {
  max-width: 204px;
  margin: 0;
  color: var(--color-secondary-light);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;

}

.contact .form-terms-link {
  color: var(--color-secondary-light);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact .form-terms-link:hover {
  color: var(--color-secondary-light);
}

.form-terms-link {
  color: var(--color-secondary-light);
  text-decoration: underline;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */