*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2');
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A;
  --color-secondary-light: #747272;
  
}

/* base */
body {

  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family:'Play', sans-serif ;
  }
  .button {

 font-family: inherit;

 cursor: pointer;

}
  


address {
  font-style: normal;
}

ul {
  list-style: none;
}
.section{
  padding: 48px 0;
}
.container{
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  
}






/* link */ 

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 40px;
} */




/* nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
} */




.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  
}

.link:hover {
  color: var(--color-primary-blue);
}





/* Іконки соцмереж */
nav ul:last-child img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.8;
  
}

nav ul:last-child img:hover {
  opacity: 1;
  transform: scale(1.1);
}






/* hero section */



.hero-text{
  font-family: Play, sans-serif;
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 1.2;
  font-weight: 700;
}
  
.text{
  
  font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  
  line-height: 1.2;
  
  text-align: left;
}
  
.call-hero{
 font-family:'Roboto', serif;
 font-size: 12px;
 color: var(--color-secondary-dark); 
}
.form-text {
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-secondary-light);
  margin: 0 auto;
  font-weight: 400;
  
}
  

/* button */
.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
 
}
.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}
.button-main:hover{
  color: var(--color-primary-blue);
}
/* <!-- why-us-section --> */

.about-call{
 color: var(--color-primary-dark);
 margin-bottom: 40px;
 font-size: 64px;
 font-family: play, sans-serif; 
 font-weight: 700;
}
.about-text{
  font-family: Roboto, sans-serif;
  color: var(--color-secondary-dark);
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.5;
  
}
.color-blue{
  font-size: 64px;
 font-family: play, sans-serif; 
 font-weight: 700;
 color: var(--color-primary-blue);
}
.accent-about{
  color: var(--color-primary-dark);
  font-weight: 700;
}


/* button form */
/* form action */
.accent-about-blue{
  color: var(--color-primary-blue);
  font-weight: 700;
}
.form-text-form{
  margin-top: 32px;
}

.button-main{
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}
.button-form:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}
.button-form:hover{
  color: var(--color-primary-blue);
}
.accent{
  font-family: Roboto, sans-serif;
  color: #4A4A4A;
  font-size: 12px;
  
  line-height: 1.5;
  
}



.hero-servis{
  
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;font-weight: 700;
  line-height: 1.5;
}
.hero-call{
  color: var(--color-primary-dark);
  font-weight: 700;
}
.servis-content{
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent{
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.section-why-us-section{
  padding-top: 222px;
}



.address-link{
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}
.address-copyrigh{
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

/* footer */

.link-footer{
 color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  
}
.address-link{
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}
 



