*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2');
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A00;
  --color-secondary-light: #747272;
  
}

/* base */
body {
  font-family: 'Roboto', 'Play', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  width: 400 px;
  line-height: 1.3;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}
/* button */
.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 32px;
  cursor: pointer;
}
/* link */
.link{
  color:var(--color-primary-dark);
  text-decoration: none;
}
.link:hover{
  color:var(--color-primary-blue);
 font-weight: 400;
}
/* hero section */
.hero-title{
  font-family: Play, sans-serif;
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 1.2;font-weight: 700;
}
.hero-title-main{
 font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}
.hero-servis{
  font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;font-weight: 700;
  line-height: 1.5;
}
.hero-call{
  color: var(--color-primary-blue);
  font-weight: 700;
}

.hero-title .accent{
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.color{
  color: var(--color-primary-blue);
}
.address-link{
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}
.address-copyrigh{
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}