*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2');
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A00;
  --color-secondary-light: #747272;
  
}

/* base */
body {
  font-family: 'Roboto', 'Play', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  width: 400 px;
  line-height: 1.3;
  
  }


address {
  font-style: normal;
}

ul {
  list-style: none;
}
.section{
  padding: 88px 0;
}
/* button */
.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 20px;
  border-radius: 32px;
  cursor: pointer;
 
}
.button-main:hover {
  background-color: var(--color-primary-light);
  border-color: #007BFF;
  button-main:hover
    color: var(--color-primary-blue);
}
 
  
  

/* link */ 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.link{
  text-decoration: none;
  color: var(--color-primary-dark);
  font-size: 16px;
  font-weight: 400;
}
.link:hover {
  color: var(--color-primary-blue);
  font-size: 700px;
}

nav a img {
  height: 40px;
  display: block;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 56px;
  align-items: center;
}

nav ul li {
  margin: 0;
}

/* hero section */

.hero-section{
 padding: 60px;
}



.hero-title{
  padding: 16px;
  margin-bottom: 0;
  font-family: Play, sans-serif;
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 1.2;
  font-weight: 700;
}
.button-main{
  padding-bottom: 14px;
font-family: Roboto, sans-serif;
color: var(--color-primary-light);
font-weight: 600;
font-size: 18px;
}
.accent{
  font-family: Roboto, sans-serif;
  color: #4A4A4A;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 16px;
}

.hero-title-main{
  padding: 16px;
 font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
}
.content{
  padding-top: 50px;
}

.hero-servis{
  
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;font-weight: 700;
  line-height: 1.5;
}
.hero-call{
  color: var(--color-primary-dark);
  font-weight: 700;
}
.servis-content{
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent{
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.color{
  color: var(--color-primary-blue);
}
.address-link{
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}
.address-copyrigh{
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
.form{
   font-family: Play, sans-serif;
}