*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2');
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A00;
  --color-secondary-light: #747272;
  
}

/* base */
body {
  font-family: 'Roboto', 'Play', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.5;
  
  }
  


address {
  font-style: normal;
}

ul {
  list-style: none;
}







/* link */ 
nav 



.link{
  text-decoration: none;
  color: var(--color-primary-dark);
  font-size: 18px;
}
  
.link:hover {
  color: var(--color-primary-blue);
  font-size: 700px;
}







/* hero section */



.hero-text{
  font-family: Play, sans-serif;
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 1.2;
  font-weight: 700;
}
  
.text{
  
  font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
}
  
.call-hero{
 font-family:'Roboto', serif;
 font-size: 12px;
 color: var(--color-secondary-dark); 
}

/* button */
.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
 
}
.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}
.button-main:hover{
  color: var(--color-primary-blue);
}

.about-call{
 color: var(--color-primary-dark);
 font-size: 64px;
 font-family: play, sans-serif; 
 font-weight: 700;
}
.color-blue{
  font-size: 64px;
 font-family: play, sans-serif; 
 font-weight: 700;
 color: var(--color-primary-blue);
}
.accent-about{
  color: var(--color-primary-dark);
  font-weight: 700;
}


/* button form */

.button-form{
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}
.button-form:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}
.button-form:hover{
  color: var(--color-primary-blue);
}
.accent{
  font-family: Roboto, sans-serif;
  color: #4A4A4A;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  
}



.hero-servis{
  
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;font-weight: 700;
  line-height: 1.5;
}
.hero-call{
  color: var(--color-primary-dark);
  font-weight: 700;
}
.servis-content{
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent{
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
/* form action */
.accent-about-blue{
  color: var(--color-primary-blue);
  font-weight: 700;
}


.address-link{
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}
.address-copyrigh{
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
