*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  background-image: url('../images/background-beaty-zone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif;
}

h2 {
  line-height: 1.2;
}


a {
  display: inline-block;
}
address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}