*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v50-latin-800.woff2') format('woff2');
}

:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A;
  --color-secondary-light: #747272;
  --color-secondary-black: #000000;

}

/* base */
body {

  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);

  background-repeat: no-repeat;
  font-weight: 400;
  line-height: 1.5;

}

body {
  background-image: url('../images/background-beaty-zone.png');
  background-position: center;
  min-width: 100%;
  margin-bottom: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif;
}

h2 {
  line-height: 1.2;
}


a {
  display: inline-block;
}

.button {

  font-family: inherit;

  cursor: pointer;

}



address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;

}

/* header */
header {
  background-color: transparent;
  position: relative;
}

.header-container {

  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 99px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 42px;
}

.header-menu {
  display: flex;
  gap: 54px;
  list-style: none;
  flex-grow: 1;
  justify-content: center;
}

.header-icon:last-child {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-nav-icon {
  display: flex;
  align-items: center;
}

/* link */





.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;

}

.link:hover {
  color: var(--color-primary-blue);
}





/* Іконки соцмереж */
nav ul:last-child img {

  cursor: pointer;
  opacity: 0.8;

}

nav ul:last-child img:hover {
  opacity: 1;
  transform: scale(1.1);
}






/* hero section */


.hero {
  background-image: url(../images/background-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}




.container-hero {


  padding-left: 106px;
  padding-top: 60px;
  position: relative;

}






.text {

  font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.hero-text {

  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 0.81;
  max-width: 529px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 40px;
}



.call-hero {
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
}

.form-text {
  align-items: center;
  max-width: 240px;
  font-size: 12px;
  padding-top: 14px;
  line-height: 1.3;
  color: var(--color-secondary-light);
  padding-bottom: 126px;

  font-weight: 400;

}

/* button */


.container-button-main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  padding: 40px 0 14px;

}

.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}



/* <!-- about-section --> */


.about-call-container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: relative;
}





.about-call-content {
  margin: 96px;
  display: flex;
  flex-direction: column;
  max-width: 570px;
  text-align: left;

}

.about-images {

  padding-right: 40px;
  padding-top: 40px;

  width: 327px;
  height: 327px;
  position: relative;
}

.about-images img {

  object-fit: cover;
  border-radius: 50%;
  margin-right: auto;
}

.about-img-women {
  margin-left: 204px;

}

.img-star-big {
  position: absolute;
  margin-top: -310px;
  right: 93px;
  z-index: 1;
}

.img-star-medium {
  position: absolute;
  margin-top: -634px;
  right: -275px;
}

.img-star-small {

  position: absolute;
  margin-top: -433px;
  right: -246px;
}



.about-call-about {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: play, sans-serif;
  font-weight: 700;
  max-width: 570px;

  font-size: 64px;
  margin: 0 auto 48px;
  text-align: left;
}



.about-call .centered {
  text-align: center;
}


.about-text {
  font-family: Roboto, sans-serif;
  color: var(--color-secondary-dark);
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.5;

}

.color-blue {
  font-size: 64px;
  font-family: play, sans-serif;
  font-weight: 700;
  color: var(--color-primary-blue);
}

.accent-about {
  color: var(--color-primary-dark);
  font-weight: 700;
}




/* button form */
/* form action */
.map {
  height: 481px;
}

.input-form {
  background-color: var(--color-primary-dark);
  max-width: 423px;
  height: 481px;
  padding: 48px;
  align-items: center;
  border-radius: 32px;
}


.contact-form {
  text-align: center;
}

.accent-about-blue {
  color: var(--color-primary-blue);
  font-weight: 700;

}

.form {
  color: var(--color-primary-light);

}

.button-form {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;

}

.text-form {
  text-align: center;
  font-size: 12px;
  color: var(--color-secondary-light);
  margin: 8px;

}

.privacy-link {

  color: inherit;
  text-decoration: underline;
}

.form-text-form {
  margin-top: 32px;

}

.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
}

.button-form:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}

.button-form:hover {
  color: var(--color-primary-blue);
}

.accent {
  font-family: Roboto, sans-serif;
  color: #4A4A4A;
  font-size: 12px;

  line-height: 1.5;

}



.hero-servis {

  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
}

.hero-call {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.servis-content {
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent {
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* section-why-us-section */

.section-why-us-section {

  padding-top: 96px;
}

.about-call {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: play, sans-serif;
  font-weight: 700;
  max-width: 570px;
  font-size: 64px;
  margin: 0 auto 48px;
}

.call-card-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.call-card {
  font-family: Roboto, sans-serif;
  color: var(--color-unico-black);
  padding: 24px;
  margin: 0;
  line-height: 1.3;
  text-align: center;
}

.about-call-blok {
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 316px;
  max-height: 181px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0 #A8C6F561;
}

.img-card {
  padding-top: 32px;
}


/* section-procedures */

.procedures-list {

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-card {
  overflow: hidden;
  border-radius: 120px 4px 120px 4px;
  position: relative;
  z-index: 2;
  transition: transform .3s;
}

.procedures-card:hover {
  transform: scale(1.1);
}

.procedures-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, #011C44 101.39%);

}

.procedures-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel-button {
  background: var(--color-primary-light);
  border: 1px solid var(--color-secondary-light);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.carousel-button:hover {
  background: var(--color-primary-light);
  border-color: var(--color-secondary-light);
}

.about-arrow-next {
  transform: rotate(180deg);
}

.procedures-list {
  display: flex;
  gap: 20px;
  overflow: hidden;
  flex: 1;
}


.about-text-procedures {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  padding: 0 20px;
  z-index: 2;
}

.format-item {

  flex-basis: calc((100%-32px)/3);

}

/* /arrow */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.about-arrow {

  fill: var(--color-primary-blue);


}

.carousel-button:hover {
  background-color: var(--color-primary-blue);

}

.carousel-button:hover .about-arrow {

  fill: var(--color-primary-light);
}

.about-call {
  margin-top: 96px;
  text-align: center;
}

.procedures-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}



.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400;
  font-size: 16px;
  line-height: 1.5;
}

.address-copyrigh {
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400px;
  line-height: 1.5;
}

/* contact */
.contact-section section {
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

}

.contact-map {
  flex-shrink: 0;
}


.contact {
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-primary-dark)
}

.form-field {
  display: block;

  width: 100%;

}

.form-field label {
  display: block;


}

.form-field input {

  width: 100%;
  background-color: var(--color-primary-dark);
  padding: 10px;
  border: none;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 24px;
  font-size: 13px;
  box-sizing: border-box;
}

.form {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  width: 299px;

}

/* footer */
.footer {
  padding: 56px 0;
  position: relative;
  background-image: url(../images/background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;

}

.footer::before {
  content: '';
  background-image: url('../images/beaty-product.png');
  position: absolute;

  bottom: 0;
  right: 0;
  width: 247px;
  height: 152px;

  right: 0;

  z-index: 1;

}


.footer-container {
  display: flex;

  gap: 20px;

}

.link-footer {
  padding: 0 0 16px 0;
}

.address-link {
  padding: 0 0 16px 0;
}



.footer-nav,
.footer-address {

  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  gap: 20px;

}

.address-list,
.address-info {
  flex-grow: 1;
}



.link-footer {

  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;

  font-size: 16px;
  line-height: 1.5;
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;

  line-height: 1.5;
}

.address-social-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px;
  padding-left: 0;
}

.address-social {


  stroke: var(--color-primary-light);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #011F4A66;
  padding: 20px 0;
  transition: opasity 0.3s, visibility 0.3s;
  z-index: 99;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;
}


.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/* form */
.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-form {
  font-size: 64px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--color-primary-light);
  max-width: 435px;
}

.form {
  text-align: center;
  margin-bottom: 30px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {

  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.form-label {
  display: block;
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 0.1;
  width: 400px;

}



.form-input {
  padding: 18px 32px;

  max-width: 310px;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-light);
}

.form-input:focus {
  border-color: var(--color-secondary-light);
  background-color: var(--color-secondary-light);
  outline: none;
  color: var(--color-primary-light);
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  line-height: 0.1;
}

.form-input::-webkit-input-placeholder {
  color: var(--color-primary-light);
}

.button-form {
  display: block;
  margin: 0 auto 24px;

  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;

}

.form-terms {
  margin: 0 auto;
  color: var(--color-secondary-light);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  max-width: 210px;
}

.form-terms-link {
  color: var(--color-secondary-light);
  text-underline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

}