.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
.container-button-main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}



.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}