.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
.container-button-main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button-main {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--color-primary-blue);
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-main:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}