:root {
  --color-primary-light: #FFFFFF;
  --color-primary-blue: #007BFF;
  --color-primary-dark: #011C44;
  --color-secondary-dark: #4A4A4A;
  --color-secondary-light: #747272;
  --color-secondary-black: #000000;
  --color-unico-black: #000000;
}