.about-call-container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  position: relative;
}


.call-hero {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
  line-height: 1.5;
}



.about-call-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 570px;
  text-align: left;
  justify-content: center;
}





.about-call-about {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  max-width: 570px;
  margin: 0 0 48px;
  text-align: left;
  line-height: 1.2;
}



.about-call.centered {
  text-align: center;
  display: block;
}


.about-text {
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-dark);
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.5;
}

.color-blue {
  font-size: 64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: var(--color-primary-blue);
  line-height: 1.2;
}

.accent-about {
  color: var(--color-primary-dark);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.section-why-us-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-call {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  margin: 0 auto 48px;
  line-height: 1.2;
  text-align: center;
}

.call-card-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.call-card {
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-dark);
  padding: 24px;
  margin: 0;
  line-height: 1.3;
  text-align: center;
  font-size: 14px;
}

.about-call-blok {
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 316px;
  min-height: 181px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 20px;
}
.about-call {
  margin-top: 96px;
  text-align: center;
}
.about-text-procedures {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-primary-light);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  padding: 0 20px;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.format-item {
  flex-shrink: 0;
  width: 280px;
  height: 400px;
  position: relative;
}