.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-card {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
  width: 280px;
  height: 400px;
}

.procedures-card:hover {
  transform: scale(1.1);
}

.procedures-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011C44 101.39%);
}

.procedures-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}