.procedures-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}



.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  max-width: 400px;
  display: block;
}

.address-copyright {
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}