.carousel-button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-button:hover {
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
}
.about-arrow-next {
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}
.procedures-list.carousel {
  display: flex;
  gap: 20px;
  overflow: auto;
  flex: 1;
  scroll-behavior: smooth;
}
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.about-arrow {

  fill: var(--color-primary-blue);


}

.carousel-button:hover {
  background-color: var(--color-primary-blue);

}

.carousel-button:hover .about-arrow {

  fill: var(--color-primary-light);
}