.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;

}

.hero {
  background-image: url(../images/background-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}




.container-hero {


  padding-left: 106px;
  padding-top: 60px;
  position: relative;

}

.text {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}

.hero-text {
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 0.81;
  max-width: 529px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Play', sans-serif;
}

.form-text {
  max-width: 240px;
  font-size: 12px;
  padding-top: 14px;
  line-height: 1.3;
  color: var(--color-secondary-light);
  padding-bottom: 126px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}